{{ $.Scratch.Add "labelClasses" "f6 b db mb1 mt3 sans-serif mid-gray" }}
{{ $.Scratch.Add "inputClasses" "i w-100 f5 pv3 ph3 bg-light-gray bn" }}

<form class="black-80 sans-serif" accept-charset="UTF-8" action="{{ .Get "action" }}" method="POST" role="form">

    <label class="{{ $.Scratch.Get "labelClasses" }}"  for="name">
      <input type="text" id="name" name="name" class="{{ $.Scratch.Get "inputClasses" }}"  required placeholder="Your name"  aria-labelledby="name"/>
    </label>
    <label class="{{ $.Scratch.Get "labelClasses" }}" for="email">
       <input type="email" id="email" name="email" class="{{ $.Scratch.Get "inputClasses" }}"  required placeholder="Your email"  aria-labelledby="email"/>
    </label>
    <div class="requirements f6 gray glow i ph3 overflow-hidden">
      An email address is required.
    </div>

    <label class="{{ $.Scratch.Get "labelClasses" }}" for="message">
      <textarea id="message" name="message" class="{{ $.Scratch.Get "inputClasses" }} h4" aria-labelledby="message" placeholder="Your message (optinal)"></textarea>
    </label>

    <input class="db w-100 mv2 white pa3 bn hover-shadow hover-bg-blck bg-animate theorem-blue-bg" type="submit" value="Send" />

</form>
